@{
    ViewData["Title"] = "Inicio";
}

<section class="text-center my-5">
    <h2 class="mb-3">El Tiempo</h2>
    <p class="lead">Recolección de datos y visualización de estadisticas</p>
</section>

<section class="row">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="h5">El Tiempo</h3>
                <p>Consulta meteorológica por ciudad</p>
                <a class="btn btn-primary" asp-controller="Tiempo" asp-action="Index">Entrar</a>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h3 class="h5">Estadisticas de ciudades</h3>
                <p>Conjunto de utilidades desarrolladas en Python.</p>
                <a class="btn btn-primary" asp-controller="Ciudades" asp-action="Ciudades">Entrar</a>
            </div>
        </div>
    </div>
</section>
